body{
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: "Mento_Regular", sans-serif;
	font-size: 16px;
	background: url(fond-blanc3.png) repeat fixed;
}

#page {
	padding: 20px 2%;
	width: 60%;
}
	
div#logo img{
	margin: 0 0;
	width:50%;
}

div#encadre{
	float:left;
	width:30%;
}

div#twitter{
	position:relative;
	left:5%;
}

article {
	color: #1d1d1b;
	clear: both;
	background-color: rgba(255,255,255,1);
	text-align: justify;		
}
	
article h1{
	padding: 6px 0 4px 16px;
	font-family: "Mento_Regular", sans-serif;
	font-size: 24px;
	text-transform : uppercase;
	background-color: rgb(172,226,88);
	display:block;
}

article h2 {
	padding-left: 12px;
}

article p {
	padding: 5px 20px 5px 20px;
	font-weight: 300;
}

article p strong {
	font-weight: bold;
}

article blockquote {
	font-size: 20px;
}

#isso-thread {
	position: fixed;
	top: 10px;
	bottom: 0;
	right: 2%;
	width: 34%;
	padding: 5px 0;
}
	
tuto{
	left:100px;
}

.gros_texte {
	font-family: "Mento_Regular", sans-serif;
	font-size: 19px;
}		
	
gros-texte{
	font-family: "Mento_Regular", sans-serif;
	font-size: 22px;
	background-color:rgb(183,216,151);
	text-transform : uppercase;
	margin-bottom: 1000px;
}
	
div#cadre1{
	font-family: "Mento_Regular", sans-serif;
	font-size: 19px;
	background-color: white;
	padding: 5px 5px;
	margin: 15px 15px;
	border: 3px solid grey;
}
	
div#cadre2{
	font-family: "Mento_Regular", sans-serif;
	font-size: 19px;
	background-color: white;
	padding: 5px 5px;
	margin: 15px 15px;
	border: 3px solid grey;
}
	
.f_left {
	float:left;
}
	