body{
	margin: 0px 0px; <!-- Marge hautes et basses 0px et marges gauche et droite 0 --> 
	padding: 0 ;
	text-align: left ;
	background: url(fond-blanc3.png) repeat fixed ;
}

article {
	font-family: "Mento_Regular", sans-serif;
	font-size: 24px;
	color: #1d1d1b;
	background-color: rgba(255,255,255,1);
	clear: both;
	padding: 20px 20px ;
	width:750px;
	margin-left:150px ;	
	text-align: justify;		
}
	
div#logo{
	position:top;
	margin:10px 15px;
	width:250px;
}
	
#isso-thread{
	font: 20px "Trebuchet MS" ;
	position:fixed;
	top:10px;
	bottom:0;
	right:10px;
	width:350px ;
	padding: 5px 0;
}
	
tuto{
	left:100px;
}
	
h1{
	padding: 6px 0 4px 16px;
	font-family: "Mento_Regular", sans-serif;
	font-size: 24px;
	text-transform : uppercase;
	background-color: rgb(172,226,88);
	display:block;
}

.gros_texte {
	font-family: "Mento_Regular", sans-serif;
	font-size: 19px;
}		
	
gros-texte{
	font-family: "Mento_Regular", sans-serif;
	font-size: 22px;
	background-color:rgb(183,216,151);
	text-transform : uppercase;
	margin-bottom: 1000px;
}
	
div#cadre1{
	font-family: "Mento_Regular", sans-serif;
	font-size: 19px;
	background-color: white;
	padding: 5px 5px;
	margin: 15px 15px;
	border: 3px solid grey;
}
	
div#cadre2{
	font-family: "Mento_Regular", sans-serif;
	font-size: 19px;
	background-color: white;
	padding: 5px 5px;
	margin: 15px 15px;
	border: 3px solid grey;
}
	
p {
	font-weight: 300;
	margin-bottom: 20px;
}
	
.f_left {
	float:left;
}
	